/*************************************************************
******************* About This Style Sheet *******************
**************************************************************

__Sections__
1. Imports
2. Themes
3. HTML Base Styling
4. Modifiers
5. Component Styles
6. Animations


/*************************************************************
*************************************************************/
////////////////
// 1. IMPORTS //
////////////////

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700,900&display=swap');
 

////////////////
// 3. THEMES //
///////////////

$themes: (
  light: (
    primary: #f9f3ed,
    secondary: #342e37,
    active-color: #e57853, 
    alt-color: #A43A4B,
  ),
  dark: (
    primary: #001011,
    secondary: #F2F2E6,
    active-color: #ED6767,
    alt-color: #793F5C,
  ),
  blue: (
    primary: #323846,
    secondary: #fbf9f3,
    active-color: #c3f7eb,
    alt-color: #78dbf4,
  ),
);

@mixin getTheme($themes: $themes) {
  @each $theme, $map in $themes {

    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}


@function themed($key) {
  @return map-get($theme-map, $key);
}

//////////////
// 3. HTML //
/////////////

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}
h2 {
  font-size: 2.7rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 2.1rem;
}

p {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  text-emphasis: none;
  @include getTheme($themes) {
    color: themed('alt-color');  
  }
}

a:hover {
  @include getTheme($themes) {
    color: themed('active-color');  
  }
}

//////////////////
// 4. Modifiers //
//////////////////


.fa {
  text-align: center;
  padding: 4px;
  margin: 5px 2px;
  font-size: 4rem;
  width: 80px;
  height: 80px;
}


///////////////////
// 5. Components //
///////////////////

#app {
  // Grid settings for desktop
  display: grid;
  grid-template-columns: 1.7fr 0.3fr;
  grid-template-rows: 1.7fr 0.3fr;
  grid-template-areas: "jumbo navbar" "footer footer";
  height: 100vh;
  width: 100vw;
  position: fixed;
  
  @include getTheme($themes) {
    color: themed('secondary');  
    background-color: themed('primary');  
  }
}
  
  .active {
    @include getTheme($themes) {
      color: themed('active-color');  
    }
  }
  
  .fa {
    @include getTheme($themes) {
      color: themed('active-color');  
    }
  }
  .fa:hover {
    @include getTheme($themes) {
      color: themed('secondary');  
    }
    cursor: pointer;
  }
  a:hover {
    @include getTheme($themes) {
      color: themed('secondary');  
    }
  }
  
.jumbo {
  grid-area: jumbo;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  h1 {
    font-size: 7rem;
    font-weight: 300;
    text-align: center;
  }
  
  .animatedTxt{
    -webkit-animation: focus-in-expand 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in-expand 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  .animatedImg {
      -webkit-animation: slide-in-right 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) .4s both;
      animation: slide-in-right 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) .4s both;
  }
  

  .jumbo-img {
    height: 20rem;
    width: auto;  
  }

}

.navbar {
  grid-area: navbar;
  
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

  ul {

    @include getTheme($themes) {
      background: themed('alt-color');  
    }

    list-style-type:none;
    margin: 0;
    padding:0;
    border-radius: 5px;
    li {
      float: left;
      height: 3rem;
      width: 3rem;

      @include getTheme($themes) {
        background: themed('alt-color');  
      }
      label {
        font-size: 2rem;
        display: inline-block;
        height: inherit;
        width: inherit
      }
      input[type="radio"] {
        position: absolute;
        opacity: 0;
        height: inherit;
        width: inherit;
        margin: 0;
        padding: 0;
      }
      input[type="radio"]:checked ~ label {
        @include getTheme($themes) {
          background: themed('active-color');  
        }
      }
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }
  a {
    font-size: 3.5rem;
  }

  -webkit-animation: slide-in-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) .8s both;
  animation: slide-in-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) .8s both;
}

.footer { 
  grid-area: footer;

  -webkit-animation: slide-in-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) .8s both;
	animation: slide-in-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) .8s both;
}


///////////////////
// 6. Animations //
///////////////////

// << JUMBO >> \\
@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}



// << NAVBAR >> \\
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

// << FOOTER >> \\
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}